<section class="container">
  <h1>Products list component</h1>

  <h3>Value promesa</h3>
  <button class="promise-btn" (click)="callPromise()">Call promise</button>
  <p data-id="promise-test">{{ valueData }}</p>
  <div class="mygrid">
    <app-product *ngFor="let product of products" [product]="product" />
  </div>
  <button
    class="products-action"
    [disabled]="status === 'loading'"
    (click)="getAllProducts()"
  >
    <span *ngIf="status === 'init' || status === 'success'"> Load more </span>
    <span *ngIf="status === 'loading'">Loading</span>
    <span *ngIf="status === 'error'">Error</span>
  </button>
</section>
